@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
  background-color: #020104;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

div {
  grid-row: 3 / 4;
  margin: auto;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  background: linear-gradient(#8446f7, #b31b9e);
  -webkit-background-clip: text;
  color: transparent;

  animation-name: load;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes load {
    0% {
        opacity: 0;
        
    }

    10% {
        opacity: 1;
        
    }

    30% {
        opacity: 0.5;
        
    }

    50% {
        opacity: 1;
        
    }

    90% {
        opacity: 0.5;
       
    }

    100% {
        opacity: 1;
    }
}
