body {
    background-image: none;
    background-color: #f8f8f8;
    display: flex;
    gap: 5rem;
    transition: gap 0.5s linear;
    user-select: none;
    overflow: hidden;
    max-height: auto;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.header {
    position: sticky;
    top: 0;
    max-width: 220px;
}

/* Toggle */

.toggle-btn {
    position: absolute;
    left: 210px;
    top: 20px;
    cursor: pointer;
    transition: left 0.5s linear;
}
.toogle-btn--hide {
    left: 90px;
}

.toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
}

/* Aside */

.aside {
    width: 200px;
    height: 100%;
    background: #fff; 
    left: -10px;
    transition: width .5s linear;
    z-index: 10;
}
.aside--hide {
    width: 80px;
}

.nav__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.nav__profile-img {
    width: 8rem;
    transition: width .5s linear;
    border-radius: 50%;
}
.nav__profile-img--hide {
    width: 5rem;
}

.nav__profile-name {
    color:  #000;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
    transition: font-size .5s linear;
}
.nav__profile-name--hide {
    font-size: 2rem;
}

 /* List */
 .grid {
     display: grid;
 }

.nav {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    min-width: 80px;
    max-width: 200px;
    padding: 1rem 0;
    align-items: center;
    overflow: hidden;
}

.nav__profile {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    align-items: center;
}

.nav__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, minmax(32px, 40px));
    gap: 3rem;
    width: 100%;
    padding-left: 2rem;
}

.nav__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
}
.nav__item--active {
    background: rgba(255, 117, 2, 0.25);
    border-radius: 0.5rem 0px 0px 0.5rem;
}


.nav__link {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    color: #898995;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}
.nav__link:hover:not(.nav__link--active) {
    color: #ffc852;
}
.nav__link--active {
    color: #ff7502;
}

.nav__link img{
    width: 2.5rem;
}
