@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-image: url(../../img/city3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90rem;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}