

/* main */
@media (min-width: 768px) { 
  .main {
    display: grid;
    grid-template-columns: repeat(2, 60rem);
    align-items: center;
    justify-items: center;
    gap: 10rem;
  }
}

/* About */
.about {
  margin-top: 8rem;
}

@media (min-width: 768px) { 
  .about__img {
    width: 100%;
  }
}


/* Products */
.products {
  margin-top: 5rem;
  width: 100%;
}

.products__heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #a0a4b7;
}

.card {
  align-items: center;
  padding: 2rem;
  position: relative;
}

.card__add {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  padding: 1.5rem 1.5rem;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.card__add span {
  color: #000;
  z-index: 100;
}

.card__img {
  margin-top: 8rem;
}
.card__img img {
  width: 100%;
  transition: transform 0.3s ease;
}
.card__img img:hover {
  transform: scale(1.1);
}

.card__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  color: #dad8d8;
  margin-top: 2rem;
  width: 100%;
  line-height: 0.6;
}

.product__title {
  font-weight: 400;
  font-size: 2rem;
  margin: 2rem 0 0 0;
}

.product__description {
  color: #85899e;
}

.product__description {
  font-size: 1.6rem;
}

.product__price {
  font-size: 1.8rem;
}

.products__more {
  background-color: #2e55f8;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 2rem;
  width: 50%;
  transition: background 0.3s ease;
}

@media (min-width: 768px) { 
  .products__more {
    width: 30%;
  }
}

.products__more:hover {
  background-color: #2244cc;
}

/* Swiper */
.swiper {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #1d2136;
  box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 20%);
}

.card__img {
  display: flex;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 80%;
}
